.rocket-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rocket-image {
  width: 120px;
  height: 120px;
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
}
